<% content_for :page_title, 'Performance dashboard' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= t('service.name') %>
      </span>
      Performance dashboard
    </h1>
  </div>
</div>

<h2 class="govuk-heading-m"><%= @short_since_text.capitalize %></h2>

<div class="govuk-!-margin-bottom-4">
  <div class="app-card app-card--blue">
    <span class="app-card__count"><%= number_with_delimiter(@requests_over_last_n_days) %></span>
    requests <%= @since_text %>
  </div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-7">TRN requests by day (<%= @short_since_text %>)</h2>

<%= govuk_table(rows: @live_service_data, classes: 'app-performance-table') %>

<div class="app-!-border-top-1 govuk-!-padding-top-2">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Submission results</h2>
  <p class="govuk-!-font-size-16">
    Number of TRNs found versus number of Zendesk tickets opened <%= @since_text %>
  </p>

  <div class="govuk-!-text-align-right">
    <div style="display: inline-block">
      <p class="govuk-!-font-size-48 govuk-!-margin-bottom-0 govuk-!-text-align-left govuk-!-font-weight-bold app-!-colour--link"><%= number_with_delimiter(@trns_found) %></p>
      <p>TRNs found <%= @since_text %></p>
    </div>
  </div>

  <%= govuk_table(rows: @submission_data, classes: 'app-performance-table') %>
</div>

<div class="govuk-!-margin-top-7">
  <%= govuk_table(classes: 'app-performance-table') do |table|
      table.caption(size: 'm', text: "How quickly did users get their TRN (#{@short_since_text})")

      table.head do |head|
      head.row do |row|
      row.cell(header: true, text: 'Date')
      row.cell(header: true) { '90% of users<br>got their TRN within'.html_safe }
      row.cell(header: true) { '75% of users<br>got their TRN within'.html_safe }
      row.cell(header: true) { '50% of users<br>got their TRN within'.html_safe }

      end; end; table.body do |body|
        @duration_usage.each do |data_row|
          body.row do |row|
            row.cell { data_row[0] }
            row.cell { data_row[1] }
            row.cell { data_row[2] }
            row.cell { data_row[3] }
          end
        end
        body.row(classes: 'app-performance-table-total-row') do |row|
          row.cell(header: true) { 'Average '+ @since_text }
          row.cell { @duration_averages[0] }
          row.cell { @duration_averages[1] }
          row.cell { @duration_averages[2] }
        end
     end; end %>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-7">About this service</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      This service is used to securely retrieve a <a class="govuk_link" href="https://www.gov.uk/guidance/teacher-reference-number-trn">teacher reference number (TRN)</a>. TRN holders need it to view their record on the Teaching Regulation Agency (TRA), give to employers for status checks, manage Teachers’ Pensions contributions, or to begin early career teacher induction.
    </p>

    <h2 class="govuk-body govuk-!-margin-0">Visit this service</h2>
    <p class="govuk-heading-m">
      <%= govuk_link_to t('service.name'), start_path %>
    </p>

    <h2 class="govuk-body govuk-!-margin-0">Ministerial department:</h2>
    <p class="govuk-heading-m">
      Department for Education
    </p>

    <h2 class="govuk-body govuk-!-margin-0">User:</h2>
    <p class="govuk-heading-m">
      Individuals
    </p>

    <h2 class="govuk-body govuk-!-margin-0">Service costs paid by:</h2>
    <p class="govuk-heading-m">
      Department budget
    </p>
  </div>
</div>
