<% content_for :page_title, 'Performance dashboard' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= t('service.name') %>
      </span>
      Performance dashboard
    </h1>
  </div>
</div>

<h2 class="govuk-heading-m"><%= @short_since_text.capitalize %></h2>

<div class="govuk-!-margin-bottom-4">
  <%= render TileComponent.new(
               count: @total_requests_by_day[:total],
               label: "requests #{@since_text}",
               colour: :blue) %>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-third">
    <%= render TileComponent.new(
                 count: number_to_percentage(100 * @total_requests_by_day[:cnt_trn_found].fdiv(@total_requests_by_day[:total]), precision: 0),
                 label: [
                    "found their TRN",
                    "straight away",
                    "(#{number_with_delimiter(@total_requests_by_day[:cnt_trn_found])} out of #{number_with_delimiter(@total_requests_by_day[:total])})"
                  ].join("<br />").html_safe,
                 colour: :green) %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render TileComponent.new(
                 count: number_to_percentage(100 * @total_requests_by_day[:cnt_no_match].fdiv(@total_requests_by_day[:total]), precision: 0),
                 label: [
                    "generated a support ticket",
                    "after we could not match",
                    "(#{number_with_delimiter(@total_requests_by_day[:cnt_no_match])} out of #{number_with_delimiter(@total_requests_by_day[:total])})"
                  ].join("<br />").html_safe,
                 colour: :"light-blue") %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render TileComponent.new(
                 count: number_to_percentage(100 * @total_requests_by_day[:cnt_did_not_finish].fdiv(@total_requests_by_day[:total]), precision: 0),
                 label: [
                    "did not complete their journey",
                    "",
                    "(#{number_with_delimiter(@total_requests_by_day[:cnt_did_not_finish])} out of #{number_with_delimiter(@total_requests_by_day[:total])})"
                  ].join("<br />").html_safe,
                 colour: :grey) %>
  </div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-7">TRN requests by day (<%= @short_since_text %>)</h2>

<%= govuk_table(classes: 'app-performance-table') do |table|
    table.head do |head|
    head.row do |row|
    row.cell(header: true, text: 'Date', classes: 'app-performance-table-column-divider app-performance-table-date-column')
    row.cell(header: true, text: 'TRN found')
    row.cell(header: true, text: 'No match')
    row.cell(header: true, text: 'Did not finish', classes: 'app-performance-table-column-divider')
    row.cell(header: true, text: 'Total', classes: 'govuk-!-padding-left-2')

    end; end; table.body do |body|
      @request_counts_by_day.each do |data_row|
        body.row do |row|
          row.cell(classes: 'app-performance-table-column-divider') { data_row.first }
          row.cell {
            "#{number_with_delimiter(data_row.last[:cnt_trn_found])} <span class=\"govuk-hint govuk-!-font-size-16\">#{trn_request_count_percent(data_row.last, :cnt_trn_found)}</span>".html_safe
          }
          row.cell {
            "#{number_with_delimiter(data_row.last[:cnt_no_match])} <span class=\"govuk-hint govuk-!-font-size-16\">#{trn_request_count_percent(data_row.last, :cnt_no_match)}</span>".html_safe
          }
          row.cell(classes: 'app-performance-table-column-divider') {
            "#{number_with_delimiter(data_row.last[:cnt_did_not_finish])} <span class=\"govuk-hint govuk-!-font-size-16\">#{trn_request_count_percent(data_row.last, :cnt_did_not_finish)}</span>".html_safe
          }
          row.cell { number_with_delimiter(data_row.last[:total]) + " requests" }
        end
      end
      body.row(classes: 'app-performance-table-total-row') do |row|
        row.cell(header: true, classes: 'app-performance-table-column-divider') { "Total (#{@short_since_text})" }
        row.cell {
          "#{number_with_delimiter(@total_requests_by_day[:cnt_trn_found])} <span class=\"govuk-hint govuk-!-font-size-16\">#{trn_request_count_percent(@total_requests_by_day, :cnt_trn_found)}</span>".html_safe
        }
        row.cell {
          "#{number_with_delimiter(@total_requests_by_day[:cnt_no_match])} <span class=\"govuk-hint govuk-!-font-size-16\">#{trn_request_count_percent(@total_requests_by_day, :cnt_no_match)}</span>".html_safe
        }
        row.cell(classes: 'app-performance-table-column-divider') {
          "#{number_with_delimiter(@total_requests_by_day[:cnt_did_not_finish])} <span class=\"govuk-hint govuk-!-font-size-16\">#{trn_request_count_percent(@total_requests_by_day, :cnt_did_not_finish)}</span>".html_safe
        }
        row.cell { number_with_delimiter(@total_requests_by_day[:total]) + " requests" }
      end
    end; end %>

<div class="govuk-!-margin-top-7">
  <%= govuk_table(classes: 'app-performance-table') do |table|
      table.caption(size: 'm', text: "How quickly did users get their TRN (#{@short_since_text})")

      table.head do |head|
      head.row do |row|
      row.cell(header: true, text: 'Date')
      row.cell(header: true) { '90% of users<br>got their TRN within'.html_safe }
      row.cell(header: true) { '75% of users<br>got their TRN within'.html_safe }
      row.cell(header: true) { '50% of users<br>got their TRN within'.html_safe }

      end; end; table.body do |body|
        @duration_usage.each do |data_row|
          body.row do |row|
            row.cell { data_row[0] }
            row.cell { data_row[1] }
            row.cell { data_row[2] }
            row.cell { data_row[3] }
          end
        end
        body.row(classes: 'app-performance-table-total-row') do |row|
          row.cell(header: true) { 'Average ('+ @short_since_text + ')' }
          row.cell { @duration_averages[0] }
          row.cell { @duration_averages[1] }
          row.cell { @duration_averages[2] }
        end
     end; end %>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-7">About this service</h2>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      This service is used to securely retrieve a <a class="govuk_link" href="https://www.gov.uk/guidance/teacher-reference-number-trn">teacher reference number (TRN)</a>. TRN holders need it to view their record on the Teaching Regulation Agency (TRA), give to employers for status checks, manage Teachers’ Pensions contributions, or to begin early career teacher induction.
    </p>

    <h2 class="govuk-body govuk-!-margin-0">Visit this service</h2>
    <p class="govuk-heading-m">
      <%= govuk_link_to t('service.name'), start_path %>
    </p>

    <h2 class="govuk-body govuk-!-margin-0">Ministerial department:</h2>
    <p class="govuk-heading-m">
      Department for Education
    </p>

    <h2 class="govuk-body govuk-!-margin-0">User:</h2>
    <p class="govuk-heading-m">
      Individuals
    </p>

    <h2 class="govuk-body govuk-!-margin-0">Service costs paid by:</h2>
    <p class="govuk-heading-m">
      Department budget
    </p>
  </div>
</div>
