<% content_for :page_title, "#{'Error: ' if ni_number.errors.any?}What is your National Insurance number?" %>
<% content_for :back_link_url, back_link_url(ni_number) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: ni_number, url: ni_number_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field(:ni_number, 
            label: { size: 'xl', text: 'What is your National Insurance number?' },
            hint: { text: 'It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’.' },
            class: 'govuk-input--width-10',
            required: true
          ) %>

      <%= govuk_details(summary_text: "I don’t know my National Insurance number") do %>
        <p class="govuk-body">
          You can <a href='https://www.gov.uk/lost-national-insurance-number'>find a lost National Insurance number</a>.
        </p>

        <p class="govuk-body">
          Or you can continue without it, but we are less likely to find your TRN.
        </p>

        <%= govuk_button_link_to 'Continue without it', itt_provider_path, secondary: true %>
      <% end %>

      <%= f.govuk_submit prevent_double_click: false %>
    <% end %>
  </div>
</div>
