<% content_for :page_title, 'Teachers' %>

<% content_for :before_content do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Support" => support_interface_identity_users_path, @user.full_name => nil }) %>
<% end %>

<h1 class="govuk-heading-xl">
  <%= @user.full_name %>
</h1>

<% content_for :name_row_value do %>
  <p>
    <%= @user.full_name %>
    <%= govuk_tag(text: "Unverified", colour: "grey") %>
  </p>

  <span class="govuk-!-font-size-16 govuk-hint">
    From: Register for an NPQ<br>
    Created: 12 March 2022
  </span>
<% end %>

<% rows = [
  {
    key: { text: "Official name" },
    value: { text: yield(:name_row_value) },
    actions: [
      { text: "Verify", href: "#", visually_hidden_text: "name" },
      { text: "Change", href: "#", visually_hidden_text: "name" },
    ],
  },
  {
    key: { text: "Email address" },
    value: { text: @user.email },
    actions: [
      { text: "Change", href: "#", visually_hidden_text: "name" },
    ],
  },
  {
    key: { text: "DQT record" },
    value: { text: "No record linked" },
    actions: [].tap do |ary|
      if @user.trn
        ary << { text: "Change record", href: "#" }
      else
        ary << { text: "Add record", href: edit_support_interface_dqt_record_path(@user.uuid) }
      end
    end
  }
] %>

<%= render(SummaryCardComponent.new(rows: rows)) do %>
  <%= render SummaryCardHeaderComponent.new(title: 'Get an identity details') %>
<% end %>

<%= render(DqtRecordComponent.new(dqt_record: @dqt_record)) if @dqt_record %>
