<% content_for :page_title, 'Teachers' %>

<%= govuk_breadcrumbs(breadcrumbs: { "Support" => support_interface_identity_users_path, @user.full_name => nil }) %>
<h1 class="govuk-heading-xl">
  <%= @user.full_name %>
</h1>

<section class="x-govuk-summary-card govuk-!-margin-bottom-9">
  <header class="x-govuk-summary-card__header">
    <h2 class="x-govuk-summary-card__title">
      Get an identity details
    </h2>
  </header>

  <div class="x-govuk-summary-card__body">
    <%= govuk_summary_list do |list| %>
      <% list.row do |row| %>
        <% row.key { "Official name" } %>
        <% row.value do %>
          <p>
            <%= @user.full_name %>
            <%= govuk_tag(text: "Unverified", colour: "grey") %>
          </p>

          <span class="govuk-!-font-size-16 govuk-hint">
            From: Register for an NPQ<br>
            Created: 12 March 2022
          </span>
        <% end %>
        <%= row.action(text: "Verify", href: "#", visually_hidden_text: "name") %>
        <%= row.action(text: "Change", href: "#", visually_hidden_text: "name") %>
      <% end %>

      <% list.row do |row| %>
        <% row.key { "Email address" } %>
        <% row.value { @user.email } %>
        <%= row.action(text: "Change", href: "#", visually_hidden_text: "email address") %>
      <% end %>

      <% list.row do |row| %>
        <% row.key { "DQT record" } %>
        <% row.value { "No record linked" } %>
        <% if @user.trn %>
        <% row.action(text: "Change record", href: '#') %>
        <% else %>
        <% row.action(text: "Add record", href: support_interface_identity_user_update_path(uuid: @user.uuid, trn: "2921020")) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>

<%= render(DqtRecordComponent.new(dqt_record: @dqt_record)) if @dqt_record %>
