<% content_for :page_title, 'Teachers' %>

<% content_for :before_content do %>
  <%= govuk_breadcrumbs(breadcrumbs: { "Support" => support_interface_identity_user_index_path, @user.full_name => nil }) %>
<% end %>

<h1 class="govuk-heading-xl">
  <%= @user.full_name %>
</h1>

<% content_for :name_row_value do %>
  <p>
    <%= @user.full_name %>
  </p>

  <span class="govuk-!-font-size-16 govuk-hint">
    Name used in Get an Identity<br>
    From: Register for an NPQ<br>
    Created: 12 March 2022
  </span>
<% end %>

<% rows = [
  {
    key: { text: "Preferred name" },
    value: { text: yield(:name_row_value) },
    actions: [
      { text: "Change", href: "#", visually_hidden_text: "name" },
    ],
  },
  {
    key: { text: "Email address" },
    value: { text: @user.email },
    actions: [
      {
        text: "Change",
        href: support_interface_identity_user_email_path(@user.uuid),
        visually_hidden_text: "email address",
      },
    ],
  },
  {
    key: { text: "DQT record" },
    value: { text: dqt_record_text(@user) },
    actions: [].tap do |ary|
      ary << { text: dqt_record_link_text(@user), href: edit_support_interface_identity_user_path(@user.uuid) }
    end
  }
] %>

<%= render(SummaryCardComponent.new(rows: rows)) do %>
  <%= render SummaryCardHeaderComponent.new(title: 'Get an identity details') %>
<% end %>

<%= render(DqtRecordComponent.new(dqt_record: @dqt_record)) if @dqt_record %>
