<% content_for :page_title, 'Check your answers' %>
<%= content_for :back_link_url, back_link_url %>

<h1 class="govuk-heading-xl">Check your answers</h1>
<% unless @trn_request.from_get_an_identity? %>
  <p class="govuk-body">We will send your TRN to <%= @trn_request.email %> if we find one matching your details.</p>
<% end %>

<%= render(TrnDetailsComponent.new(trn_request: @trn_request, actions: true)) %>

<%= form_with model: @trn_request, method: :put do |f| %>
  <%= f.hidden_field :answers_checked, value: true %>
  <%= f.govuk_submit 'Submit', prevent_double_click: false %>
<% end %>
