<% content_for :page_title, 'Check your answers' %>
<%= content_for :back_link_url, start_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your answers</h1>
    <p class="govuk-body">We will send your TRN to <%= @trn_request.email %> if we find one matching your details.</p>

    <% rows = [
        { key: { text: 'Email address '}, value: { text: @trn_request.email }, actions: [{ href: email_path, visually_hidden_text: 'email' }] },
        { 
          key: { text: 'Teacher training provider' }, 
          value: { text: @trn_request.itt_provider_name.presence || 'Not provided' }, 
          actions: [{ href: itt_provider_path, visually_hidden_text: 'itt_provider' }]
        }
    ] %>
    <%= govuk_summary_list(rows: rows) %>

    <%= form_with model: @trn_request, method: :put do |f| %>
      <%= f.hidden_field :answers_checked, value: true %>
      <%= f.govuk_submit 'Submit', prevent_double_click: false %>
    <% end %>
  </div>
</div>
