<% content_for :page_title, 'TRN Requests' %>

<h1 class="govuk-heading-l">
  TRN Requests
  <span class="govuk-caption-l">
    Ordered by last updated, showing <%= "#{[100, TrnRequest.count].min} of #{TrnRequest.count}" %> total
  </span>
</h1>

<% @trn_requests.each do |trn_request| %>
  <h2 class="govuk-heading-m">TRN Request #<%= trn_request.id %></h2>
  <%= govuk_summary_list do |summary_list|
    summary_list.row do |row|
      row.key(text: 'Created at')
      row.value(text: trn_request.created_at)
    end

    summary_list.row do |row|
      row.key(text: 'Updated at')
      row.value(text: trn_request.updated_at)
    end

    summary_list.row do |row|
      row.key(text: 'Submitted at')
      row.value do
        if trn_request.checked_at
          trn_request.checked_at.to_s
        else
          govuk_tag(colour: 'grey', text: 'Not yet submitted')
        end
      end
    end

    if trn_request.checked_at
      summary_list.row do |row|
        row.key(text: 'TRN')
        row.value do
          if trn_request.trn
            govuk_tag(colour: 'green', text: 'Found 🎉')
          else
            govuk_tag(colour: 'yellow', text: 'Not found')
          end
        end
      end

      unless trn_request.trn
        summary_list.row do |row|
          row.key(text: 'Zendesk ticket')
          row.value do
            if trn_request.zendesk_ticket_id
              tag.a "Ticket #{trn_request.zendesk_ticket_id}", class: 'govuk-link', href: "https://teachingregulationagency.zendesk.com/agent/tickets/#{trn_request.zendesk_ticket_id}"
            else
              govuk_tag(colour: 'grey', text: 'Not submitted')
            end
          end
        end

        if trn_request.zendesk_ticket_id
          summary_list.row do |row|
            row.key(text: 'Actions')
            row.value do
              govuk_button_to("Sync from Zendesk", [:support_interface, trn_request, :zendesk_sync], secondary: true, class: 'govuk-!-margin-bottom-0')
            end
          end
        end
      end

      if trn_request.trn_responses.any?
        summary_list.row do |row|
          row.key(text: 'Diff')
          row.value do
            if trn_request.trn_responses.last.diff.present?
              tag.pre(trn_request.trn_responses.last.diff)
            else
              'No diff'
            end
          end
        end
      end
    end
  end %>

  <% if Rails.env.production? %>
    <h3 class="govuk-heading-s">Anonymised information</h3>
  <% else %>
    <h3 class="govuk-heading-s">
      <%= govuk_tag(colour: 'blue', text: 'Development only') %>
      Information
    </h3>
  <% end %>

  <%= render(TrnDetailsComponent.new(trn_request: trn_request, anonymise: Rails.env.production?)) %>
<% end %>
