<% content_for :page_title, "W#{'Error: ' if @confirm_dqt_record_form.errors.any?}e found a DQT record, is it the right one?" %>
<% content_for :back_link_url, back_link_url %>

<%= form_with model: @confirm_dqt_record_form, url: support_interface_dqt_record_path(@user.uuid), method: :patch do |f| %>
  <%= f.hidden_field :trn, value: @confirm_dqt_record_form.trn %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    We found a DQT record, is it the right one?
  </h1>

  <%= render(ConfirmDqtComponent.new(user: @user, dqt_record: @dqt_record)) %>

  <%= f.govuk_radio_buttons_fieldset :add_dqt_record, legend: { size: 'm', text: 'Do you want to add this DQT record?' } do %>
    <%= f.govuk_radio_button :add_dqt_record, 'Yes', label: { text: "Yes, add this record" }, link_errors: true %>
    <%= f.govuk_radio_button :add_dqt_record, 'No', label: { text: "No, this is the wrong record" } %>
  <% end %>

  <%= f.govuk_submit text: "Finish", prevent_double_click: false %>

<% end %>
