<% content_for :page_title, 'Zendesk performance dashboard' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= t('service.name') %>
      </span>
      Zendesk performance dashboard
    </h1>
  </div>
</div>

<h2 class="govuk-heading-m">Total tickets deleted</h2>

<div class="govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-half">
    <%= render TileComponent.new(
                count: @total,
                label: "tickets deleted",
                colour: :blue) %>
  </div>

  <div class="govuk-grid-column-one-half">
    <%= render TileComponent.new(count: @last_7_days, label: "in the last 7 days", colour: :green) %>
  </div>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-7">Ticket delete requests by month</h2>

<%= render ZendeskDeleteRequestsPerformanceTableComponent.new(grouped_request_counts: @request_counts_by_month, total_grouped_requests: @total_requests_by_month, since: "since launch") %>

<h2 class="govuk-heading-m govuk-!-margin-top-7">Ticket delete requests by week</h2>

<%= render ZendeskDeleteRequestsPerformanceTableComponent.new(grouped_request_counts: @request_counts_by_week, total_grouped_requests: @total_requests_by_week, since: "this week and the last 12 weeks") %>
