<% content_for :page_title, 'Zendesk tickets to be deleted' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Zendesk tickets to be deleted
    </h1>

    <p>
      The following tickets have not had any activity in the past 6 months and
      should be deleted. Deleted tickets are kept in Zendesk for a further 30
      days. They are then permanently deleted.
    </p>

    <p>
      Find keeps a record of every deleted Zendesk ticket’s metadata.
    </p>

    <p>You will be asked to confirm before the tickets are deleted.</p>

    <%= govuk_start_button(
      text: 'Start',
      href: support_interface_zendesk_confirm_deletion_path) %>
  </div>
</div>

<h2 class="govuk-heading-m">
  List of tickets to be deleted
  <span class="govuk-caption-m">
    Showing <%= @zendesk_tickets.size %> of <%= @zendesk_tickets_total %> total
  </span>
</h2>

<% if @zendesk_tickets.size.zero? %>
  <p>No tickets need to be deleted.</p>
<% else %>
  <%= govuk_table do |table|
    table.head do |head|
      head.row do |row|
        row.cell(header: true, width: 'one-quarter') do
          tag.span("Ticket link") +
            tag.span("Group name", class: 'govuk-caption-m')
        end
        row.cell(header: true, width: 'one-third') do
          tag.span("Closed at") +
            tag.span("Received at", class: 'govuk-caption-m')
        end
        row.cell(header: true) do
          tag.span("Tag: Enquiry type") +
            tag.span("Tag: No action required", class: 'govuk-caption-m')
        end
      end
    end

    table.body do |body|
      @zendesk_tickets.each do |ticket|
        body.row do |row|
          row.cell do
            tag.a("Ticket #{ticket.ticket_id}",
              class: 'govuk-link',
              href: "https://teachingregulationagency.zendesk.com/agent/tickets/#{ticket.ticket_id}") +
              tag.span(ticket.group_name, class: 'govuk-caption-m')
          end
          row.cell do
            tag.span(ticket.closed_at, class: 'app-!-font-tabular') +
              tag.span(ticket.received_at, class: 'app-!-font-tabular govuk-caption-m')
          end
          row.cell do
            tag.code(ticket.enquiry_type, class: 'app-!-word-break-all') +
              tag.span(ticket.no_action_required, class: 'govuk-caption-m')
          end
        end
      end
    end
  end %>
<% end %>

<h2 class="govuk-heading-m">
  Tickets that have been requested for deletion
  <span class="govuk-caption-m">
    Showing <%= @zendesk_delete_requests.size %> of <%= @zendesk_delete_requests_total %> total
  </span>
</h2>

<p><%= govuk_link_to "Import from CSV", new_support_interface_zendesk_import_path %></p>

<% unless @zendesk_delete_requests.size.zero? %>
  <p><%= govuk_button_to "Export to CSV", support_interface_zendesk_exports_path(format: :csv), method: :post %></p>

  <%= govuk_pagination(pagy: @pagy) %>

  <%= govuk_table do |table|
    table.head do |head|
      head.row do |row|
        row.cell(header: true, width: 'one-quarter') do
          tag.span("Ticket link") +
            tag.span("Group name", class: 'govuk-caption-m')
        end
        row.cell(header: true, width: 'one-third') do
          tag.span("Closed at") +
            tag.span("Received at", class: 'govuk-caption-m')
        end
        row.cell(header: true) do
          tag.span("Tag: Enquiry type") +
            tag.span("Tag: No action required", class: 'govuk-caption-m')
        end
      end
    end

    table.body do |body|
      @zendesk_delete_requests.each do |ticket|
        body.row do |row|
          row.cell do
            tag.a("Ticket #{ticket.ticket_id}",
              class: 'govuk-link',
              href: "https://teachingregulationagency.zendesk.com/agent/tickets/#{ticket.ticket_id}") +
              tag.span(ticket.group_name, class: 'govuk-caption-m')
          end
          row.cell do
            tag.span(ticket.closed_at, class: 'app-!-font-tabular') +
              tag.span(ticket.received_at, class: 'app-!-font-tabular govuk-caption-m')
          end
          row.cell do
            tag.code(ticket.enquiry_type, class: 'app-!-word-break-all') +
              tag.span(ticket.no_action_required, class: 'govuk-caption-m')
          end
        end
      end
    end
  end %>

  <%= govuk_pagination(pagy: @pagy) %>
<% end %>
