<% content_for :page_title, 'Performance dashboard' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= t('tra.service_name') %>
      </span>
      Performance dashboard
    </h1>
  </div>
</div>

<div class="app-!-border-top-1 govuk-!-padding-top-2">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Live service usage</h2>
  <p class="govuk-!-font-size-16">
    Number of TRN requests started daily <%= @since_text %>
  </p>

  <div class="govuk-!-text-align-right">
    <div style="display: inline-block">
      <p class="govuk-!-font-size-48 govuk-!-margin-bottom-0 govuk-!-text-align-left govuk-!-font-weight-bold app-!-colour--link"><%= number_with_delimiter(@requests_over_last_n_days) %></p>
      <p>requests <%= @since_text %></p>
    </div>
  </div>

  <%= govuk_table(rows: @live_service_data, classes: 'app-performance-table') %>
</div>

<div class="app-!-border-top-1 govuk-!-padding-top-2">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Submission results</h2>
  <p class="govuk-!-font-size-16">
    Number of TRNs found versus number of Zendesk tickets opened <%= @since_text %>
  </p>

  <div class="govuk-!-text-align-right">
    <div style="display: inline-block">
      <p class="govuk-!-font-size-48 govuk-!-margin-bottom-0 govuk-!-text-align-left govuk-!-font-weight-bold app-!-colour--link"><%= number_with_delimiter(@trns_found) %></p>
      <p>TRNs found <%= @since_text %></p>
    </div>
  </div>

  <%= govuk_table(rows: @submission_data, classes: 'app-performance-table') %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-m">
      This service is used to securely retrieve a <a class="govuk_link" href="https://www.gov.uk/guidance/teacher-reference-number-trn">teacher reference number (TRN)</a>. TRN holders need it to view their record on the Teaching Regulation Agency (TRA), give to employers for status checks, manage Teachers' Pensions contributions, or to begin early career teacher induction.
    </p>

    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">Visit this service</h2>
    <p class="govuk-heading-m">
      <%= govuk_link_to t('tra.service_name'), start_path %>
    </p>

    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">Ministerial department:</h3>
    <p class="govuk-heading-m">
      Department for Education
    </p>

    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">User:</h3>
    <p class="govuk-heading-m">
      Individuals
    </p>

    <h2 class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">Service costs paid by:</h3>
    <p class="govuk-heading-m">
      Department budget
    </p>
  </div>
</div>
