<% content_for :page_title, "Simulate an Identity journey" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Simulate an Identity journey
    </h1>

    <p>
      Use this form to simulate a Get an Identity journey for testing purposes.
    </p>

    <%= form_with model: @identity_params, url: support_interface_identity_confirm_path do |f| %>
      <%= f.govuk_text_field(:client_title,
        label: { size: 's', text: 'Client title' },
        hint: { text: 'Will be displayed in the page <title> and the header' }
      ) %>
      <%= f.govuk_text_field(:email,
        label: { size: 's', text: 'Email' },
        hint: { text: 'Used by matching' }
      ) %>
      <%= f.govuk_text_field(:journey_id,
        disabled: true,
        label: { size: 's', text: 'Journey ID' },
        hint: { text: "Used by Get an Identity to match up the user’s \
                session. Editing is disabled for simulated journeys  \
                because we don’t use it." }
      ) %>
      <%= f.govuk_text_field(:redirect_uri,
        disabled: true,
        label: { size: 's', text: 'Redirect URI' },
        hint: { text: "Callback URL to the Identity server. Editing is \
                disabled for simulated journeys because simulated journeys \
                should always return to Find." }
      ) %>
      <%= f.govuk_text_field(:client_url,
        disabled: true,
        label: { size: 's', text: 'Client URL' },
        hint: { text: "Will be linked to from the header. Editing is \
                disabled for simulated journeys because simulated journeys \
                should always return to Find." }
      ) %>
      <%= f.govuk_text_field(:previous_url,
        disabled: true,
        label: { size: 's', text: 'Previous URL' },
        hint: { text: "Linked to from the back button on the Name page. Editing \
                is disabled for simulated journeys because simulated journeys \
                should always return to Find." }
      ) %>
      <%= f.govuk_submit "Continue", prevent_double_click: false %>
    <% end %>
  </div>
</div>
