<% content_for :page_title, "#{'Error: ' if @name_form.errors.any?}Your name" %>
<% content_for :back_link_url, back_link_url(email_path) %>

<%= form_with model: @name_form, url: name_path do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    Your name
  </h1>
  <p class="govuk-body">We’ll match your name against the Teaching Regulation Agency records.</p>

  <%= f.govuk_text_field(:first_name,
        label: { size: 'm', text: 'First name' },
        required: true
      ) %>
  <%= f.govuk_text_field(:last_name,
        label: { size: 'm', text: 'Last name' },
        required: true
      ) %>

  <%= f.govuk_check_boxes_fieldset :name_changed, legend: nil do %>
    <%= f.govuk_check_box :name_changed, "true", label: { text: 'I’ve changed my name since I received my TRN' }, link_errors: true, multiple: false do %>
      <%= f.govuk_text_field(:previous_first_name, label: { text: 'Previous first name' }) %>
      <%= f.govuk_text_field(:previous_last_name, label: { text: 'Previous last name' }) %>
    <% end %>
  <% end %>
  <%= f.govuk_submit prevent_double_click: false %>
<% end %>
