<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= custom_title(yield(:page_title).presence) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <%= favicon_link_tag image_path('favicon.ico'), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag image_path('favicon.svg'), type: 'image/svg+xml', sizes: "any" %>
    <%= favicon_link_tag image_path('govuk-icon-mask.svg'), rel: 'mask-icon', color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag image_path('govuk-icon-180.png'), rel: 'apple-touch-icon', type: nil %>

    <%= tag :meta, property: 'og:image', content: image_path('govuk-opengraph-image.png') %>

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "main", defer: true %>
  </head>

  <body class="govuk-template__body">
    <%= javascript_tag nonce: true do %>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    <% end %>

    <%= govuk_skip_link %>

    <%= custom_header %>

    <div class="govuk-width-container">
      <% unless is_identity_journey? %>
        <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
          This is a new service – <a class="govuk-link" href="https://forms.gle/3LGJXe9EFaeQbFgP7">your feedback will help us to improve it</a>.
        <% end %>
      <% end %>
      <%= govuk_back_link(href: yield(:back_link_url)) unless yield(:back_link_url).blank? %>

      <%= yield(:before_content) %>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render(FlashMessageComponent.new(flash: flash)) %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <%= govuk_footer(
      meta_items_title: 'Footer links',
      meta_items: {
        'Accessibility': '/accessibility',
        'Cookies': '/cookies',
        'Privacy': 'https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers'
      }) %>
  </body>
</html>
