<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title><%= [yield(:page_title).presence, t('tra.service_name')].compact.join(' - ') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="assets/images/govuk-apple-touch-icon.png">

    <meta property="og:image" content="assets/images/govuk-opengraph-image.png">

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "main", defer: true %>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(service_name: t('tra.service_name')) do |header| %>
      <% case try(:current_namespace) %>
      <% when 'support_interface' %>
        <% header.navigation_item(
          text: "TRN Requests",
          href: support_interface_trn_requests_path,
          active: current_page?(support_interface_trn_requests_path),
        ) %>
        <% header.navigation_item(
          text: "Features",
          href: support_interface_features_path,
          active: current_page?(support_interface_features_path)
        ) %>
        <% header.navigation_item(
          text: "Sidekiq",
          href: support_interface_sidekiq_web_path
        ) %>
        <% header.navigation_item(
          active: current_page?(support_interface_validation_errors_path),
          href: support_interface_validation_errors_path,
          text: 'Validation errors'
        ) %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: "Beta" }) do %>
        This is a new service – <a class="govuk-link" href="https://forms.gle/3LGJXe9EFaeQbFgP7">your feedback will help us to improve it</a>.
      <% end %>
      <%= govuk_back_link(href: yield(:back_link_url)) unless yield(:back_link_url).blank? %>
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render(FlashMessageComponent.new(flash: flash)) %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <%= govuk_footer(
      meta_items_title: 'Footer links',
      meta_items: {
        'Accessibility': '/accessibility',
        'Cookies': '/cookies',
        'Privacy notice': '/privacy'
      }) %>
  </body>
</html>
